body {
    background-color: #393e46;
    color: #4ecca3;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-flow: column nowrap; 
    align-items: center;
    margin: 10px;
}

.refresh {
    font-family: 'Lobster', cursive;
    font-size: 128px;
    font-weight: 700;
    margin: 0;
}

.dices {
    display: flex;
    gap: 10px;
}

.player {
    font-family: "Indie Flower", cursive;
    font-size: 32px;
    font-weight: 400;
}

.footer {
    font-family: "Indie Flower", cursive;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

img {
    visibility: hidden;
    height: 100px;
}

.players {
    display: flex;
    flex-flow: column;
    align-items: center;
}